<!-- Portada para los usuarios que no han iniciado sesión -->
<div class="hero-unit">
	<h1>Puntos y líneas</h1>
	<p class="lead">Juegue en línea el divertido juego de Puntos y
		líneas.</p>
	<a class="btn btn-large btn-info" href="#">Iniciar sesi&oacute;n</a> <a
		class="btn btn-warning" href="#">Jugar sin cuenta</a>
</div>

<div class="row-fluid marketing">
	<div class="span6">
		<h4>Encuentre oponentes en l&iacute;nea</h4>
		<p>&iexcl;Juegue contra personas de todo el mundo!</p>

		<h4>IA realmente inteligente</h4>
		<p>Jugar contra el ordenador ofrece varios niveles de dificultad.
			&iexcl;El más dificil es realmente dificil!</p>

		<h4>Tabla de puntajes</h4>
		<p>Suba en la tabla de puntajes. Mire su desempe&ntilde;o a lo
			largo del tiempo.</p>
	</div>

	<div class="span6">
		<h4>Rete a sus amigos</h4>
		<p>Invite a sus amigos a una partida.</p>

		<h4>Juego por equipos</h4>
		<p>Puede jugar el t&iacute;pico 1 vs 1, o bien partidas de hasta
			cuatro equipos, con hasta cuatro jugadores por equipo.</p>

		<h4>Organice torneos</h4>
		<p>Cree torneos e invite a sus amigos.</p>
	</div>
</div>